.theme__color {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  text-align: right;
  color: #151515;
  margin: 0;
  padding: 0;
  transition: opacity 0.1s ease-in-out;
}

.theme__color:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 10px rgba(146, 145, 144, 0.26), 0px 20px 40px rgba(146, 145, 144, 0.29);
}

.theme__color_light {
}

.theme__color_dark {
}
