.header {
  padding: 28px 120px 28px;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
}

@media screen and (max-width: 1280px) {
  .header {
    padding-right: 80px;
    padding-left: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 18px 30px;
  }
}
