@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);

/*HEADER*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/theme/theme.css);
@import url(../blocks/theme/__color/theme__color.css);

/*SECTION*/
@import url(../blocks/section/section.css);
@import url(../blocks/section/__title/section__title.css);
@import url(../blocks/section/__list/section__list.css);
@import url(../blocks/section/__item/section__item.css);

/*CARD*/
@import url(../blocks/card/card.css);
@import url(../blocks/card/__border-img/card__border-img.css);
@import url(../blocks/card/__img/card__img.css);
@import url(../blocks/card/__description/card__description.css);
@import url(../blocks/card/__wrapper/card__wrapper.css);
@import url(../blocks/card/__name/card__name.css);
@import url(../blocks/card/__date/card__date.css);
@import url(../blocks/card/__button/card__button.css);

/*FOOTER*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/footer/__email/footer__email.css);
@import url(../blocks/footer/__subtitle/footer__subtitle.css);
@import url(../blocks/footer/__nav/footer__nav.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);

/*POP-UP*/
@import url(../blocks/pop-up/pop-up.css);
@import url(../blocks/pop-up/__exit/pop-up__exit.css);
@import url(../blocks/pop-up/_opened/pop-up_opened.css);
@import url(../blocks/pop-up/_type/pop-up_type_buy.css);
@import url(../blocks/pop-up/__container/pop-up__container.css);
@import url(../blocks/pop-up/__title/pop-up__title.css);

/*FORM*/
@import url(../blocks/form/form.css);
@import url(../blocks/form/__button-buy/form__button-buy.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__input/_textarea/form__input_textarea.css);
@import url(../blocks/form/__label/form__label.css);
@import url(../blocks/form/__wrapper/form__wrapper.css);
@import url(../blocks/form/__wrapper/_color/form__wrapper_color.css);
