.card__name {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 24px;
  color: #151515;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .card__name {
    font-size: 14px;
    line-height: 129%;
  }
}
