.footer {
  padding: 80px 120px 60px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #efefef;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding-left: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 60px 18px 25px 18px;
    flex-direction: column;
  }
}
