.pop-up__container {
  position: relative;
  box-sizing: border-box;
  width: calc(100vw - 38px);
  min-height: 181px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0;
  padding: 25px 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  max-width: 700px;
}

@media screen and (max-width: 800px) {
  .pop-up__container {
    padding: 60px 36px 37px;
    max-width: 400px;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .pop-up__container {
    padding: 30px 18px;
    max-width: 400px;
  }
}
