.theme {
  margin: 0;
  padding: 0;
  transition: opacity 0.1s ease-in-out;
  width: 50px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(224, 224, 4, 0.445);
}

.theme:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 10px rgba(180, 180, 180, 0.26), 0px 20px 40px rgba(146, 145, 144, 0.29);
}
