.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 20px;
  margin: 0;
  padding: 20px;
  box-shadow: 0px 20px 140px rgba(0, 0, 0, 0.06);
  width: 270px;
  height: 450px;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.342);
}
